<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>레이아웃연습</title>
    <link rel="stylesheet" href="../siteF/css/style.css">

    <link rel="stylesheet" href="../siteF/script/jquery.min.js">
    <link rel="stylesheet" href="../siteF/script/script.js">
</head>
<body>
    <div id="wrap">
        <header id="header">
            <div class="header__logo">
                <h1>JUST 쇼핑몰</h1>
            </div>
            <nav class="header__nav">
                <ul>
                    <li><a href="#">탑</a>
                        <ul class="submenu">
                            <li><a href="#">블라우스</a></li>
                            <li><a href="#">티</a></li>
                            <li><a href="#">셔츠</a></li>
                            <li><a href="#">니트</a></li>
                        </ul>
                    </li>
                    <li><a href="#">아우터</a>
                        <ul class="submenu">
                            <li><a href="#">자켓</a></li>
                            <li><a href="#">코트</a></li>
                            <li><a href="#">가디건</a></li>
                            <li><a href="#">머플러</a></li>
                        </ul>
                    </li>
                    <li><a href="#">팬츠</a>
                        <ul class="submenu">
                            <li><a href="#">청바지</a></li>
                            <li><a href="#">짧은바지</a></li>
                            <li><a href="#">긴바지</a></li>
                            <li><a href="#">레깅스</a></li>
                        </ul>
                    </li>
                    <li><a href="#">악세서리</a>
                        <ul class="submenu">
                            <li><a href="#">귀고리</a></li>
                            <li><a href="#">목걸이</a></li>
                            <li><a href="#">반지</a></li>
                            <li><a href="#">팔찌</a></li>
                        </ul>
                    </li>
                </ul>
            </nav>
        </header>
        
        <main id="main">
            <div class="slider">
                <div class="sliderWrap">
                    <div class="slider s1">
                        <a href="#"><img src="" alt="패션 쇼핑몰 사진1"></a>
                        <div class="text">
                            <h2>쌀쌀한 요즘</h2>
                            <p>따뜻한 옷 미리 준비하세요</p>
                        </div>
                    </div>
                    <div class="slider s2">
                        <a href="#"><img src="" alt="패션 쇼핑몰 사진2"></a>
                        <div class="text">
                            <h2>요즘 핫한 아이템</h2>
                            <p>구경 한번 하세요</p>
                        </div>
                    </div>
                    <div class="slider s3">
                        <a href="#"><img src="" alt="패션 쇼핑몰 사진3"></a>
                        <div class="text">
                            <h2>쌀쌀한 요즘</h2>
                            <p>따뜻한 옷 미리 준비하세요</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="contents">
                <section class="info">
                    <h3 class="info__menu">
                        <a href=""></a>
                        <a href=""></a>
                    </h3>
                    <div class="info__cont">
                        <div class="notice">
                            <ul>
                                <li><a href=""></a></li>
                                <li><a href=""></a></li>
                                <li><a href=""></a></li>
                                <li><a href=""></a></li>
                            </ul>
                        </div>
                        <div class="gallery">
                            <ul>
                                <li><a href=""></a></li>
                                <li><a href=""></a></li>
                                <li><a href=""></a></li>
                            </ul>
                        </div>
                    </div>
                </section>

                <section class="banner">

                </section>

                <section class="link">

                </section>
            </div>
        </main>

        <footer id="footer">
            <div class="footer1"></div>
            <div class="footer2"></div>
            <div class="footer3"></div>
        </footer>
    </div>
</body>
</html>