<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>역사박물관</title>
    <link rel="stylesheet" href="css/style.css">

    <script src="script/jquery.min.js"></script>
    <script src="script/script.js"></script>
</head>
<body>
    <div id="wrap">
        <main id="main">
            <aside id="aside">
                <div class="logo">
                    <h1>역사박물관</h1>
                </div>
                <nav class="nav">
                    <ul>
                        <li>
                            <a href="#">박물관 소개</a>
                            <ul class="submenu">
                                <li>
                                    <a href="#">인사말</a>
                                    <a href="#">박물관연혁</a>
                                    <a href="#">유물현황</a>
                                    <a href="#">관람안내</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="#">전시</a>
                            <ul class="submenu">
                                <li>
                                    <a href="#">선사시대</a>
                                    <a href="#">삼국시대</a>
                                    <a href="#">조선시대</a>
                                    <a href="#">근대시대</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="#">연구</a>
                            <ul class="submenu">
                                <li>
                                    <a href="#">생활유적</a>
                                    <a href="#">분묘유적</a>
                                    <a href="#">생산유적</a>
                                    <a href="#">통신유적</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="#">교육</a>
                            <ul class="submenu">
                                <li>
                                    <a href="#">문화행사</a>
                                    <a href="#">진로체험</a>
                                    <a href="#">외부교육</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </nav>
            </aside>
            <section id="contents">
                <div class="notice">
                    <div class="notice__title">
                        공지사항
                    </div>
                    <div class="notice__cont">
                        <ul>
                            <li><a href="#" class="popup__view">이번달 박물관 휴관안내 및 운영계획</a></li>
                            <li><a href="#">이번달 박물관 휴관안내 및 운영계획</a></li>
                            <li><a href="#">이번달 박물관 휴관안내 및 운영계획</a></li>
                            <li><a href="#">이번달 박물관 휴관안내 및 운영계획</a></li>
                            <li><a href="#">이번달 박물관 휴관안내 및 운영계획</a></li>
                            <li><a href="#">이번달 박물관 휴관안내 및 운영계획</a></li>
                        </ul>
                    </div>
                </div>
                <div class="gallery">
                    <div class="gallery1">
                        <img src="img/gallery001.jpg" alt="갤러리이미지1">
                        <p>이번주 전시작품</p>
                    </div>
                    <div class="gallery1">
                        <img src="img/gallery002.jpg" alt="갤러리이미지2">
                        <p>이번주 전시작품</p>
                    </div>
                </div>
                <div class="links">
                    <div class="sns">youtube</div>
                    <div class="sns">instargram</div>
                    <div class="sns">facebook</div>
                </div>
            </section>
    
            <section id="slide">
                <div class="slider__wrap">
                    <div class="slider s1">
                        <img src="img/slider001.jpg" alt="슬라이더이미지1">
                        <p>역사박물관으로 놀러오세요</p>
                    </div>
                    <div class="slider s2">
                        <img src="img/slider002.jpg" alt="슬라이더이미지1">
                        <p>역사박물관으로 놀러오세요</p>
                    </div>
                    <div class="slider s3">
                        <img src="img/slider003.jpg" alt="슬라이더이미지1">
                        <p>역사박물관으로 놀러오세요</p>
                    </div>
                </div>
            </section>
    
        </main>
    
        <footer id="footer">
            <div class="footer1">
                <h3>역사박물관</h3>
            </div>
            <div class="footer2">
                주소 서울시 강남구 삼성로 100 삼성동빌딩 100층<br>
                COPYRIGHT(C) ALL RIGHTS RESERVED.
            </div>
            <div class="footer3">
                <div class="footer__site">안산역사관</div>
                <div class="footer__site">역사박물관</div>
                <div class="footer__site">국립박물관</div>
            </div>
        </footer>
    </div>

    <div class="popup__box">
        <h3>공지사항</h3>
        <p>역사박물관 연휴 휴관 안내 드립니다. 역사박물관 연휴 휴관 안내 드립니다.역사박물관 연휴 휴관 안내 드립니다.</p>
        <a class="popup__close" href="#">닫기</a>
    </div>
    
</body>
</html>