.container {
    max-width: 1400px;
    width: 96%;
    margin: 0 auto;
}

/* scroll style */
.scroll__style::-webkit-scrollbar {
    width: 10px;
    background-color: #eaffaf;
    border: 1px solid #00000034;
}
.scroll__style::-webkit-scrollbar-thumb {
    background-color: #0000003d;
    border-radius: 1.3rem;
}
.scroll__style::-webkit-scrollbar-track {
    background-color: var(--black500);
    border-radius: 1.3rem;
}

/* 버튼 스타일 */
.btn__style1 {
    width: 350px;
    height: 43px;
    background-color: #285A5B;
    font-size: 1rem;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
}
.btn__style2 {
    width: 100px;
    height: 39px;
    background-color: #285A5B;
    font-size: 1rem;
    color: #fff;
    border-radius: 50px;
    cursor: pointer;
}


/* 헤더 */
#header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #999999;
    background-color: #fff;
    position: fixed;
    padding: 0 2%;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    height: 100px;
}
.header__logo {
    width: 20%;
}
.header__logo img {
    width: 131px;
    height: 56px;
}
.headerLogo__icon img {
    width: 30px;
    height: 30px;
    display: none;
}
.header__menu-icon {
    display: none;
    cursor: pointer;
}

.bar {
    width: 25px;
    height: 3px;
    background-color: #333;
    margin: 6px 0;
}

.header__nav {
    width: 50%;
}
.header__nav > ul {
    height: 100px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
}
.header__nav > ul > li {
    position: relative;
}
.header__nav > ul > li > a {
    display: inline-block;
    width: 150px;
}
.header__nav > ul > li > a:hover {
    color:#285A5B;
}
.header__nav > ul > li > ul {
    position: absolute;
    left: 0;
    top: 61px;
    width: 100%;
    text-align: center;
    display: none;
}
.header__nav > ul > li > ul > li > a {
    display: inline-block;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.699);
    width: 100%;
    box-sizing: border-box;
    color: var(--white);
    font-weight: 500;
}
.header__nav > ul > li > ul > li > a:hover {
    background-color: rgba(0, 0, 0, 0.541);
}

/* 자바스크립트용 CSS */
.header__nav > ul > li > ul {
    display: block;
    height: 0;
    overflow: hidden;
    transition: all 800ms;
}

.header__search {
    width: 15%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 30px;
    border-radius: 15px;
    background-color: #F2F1EC;
    color: #969696;
    border: none;
    padding: 0 10px;
}
.header__search input {
    background-color: #F2F1EC;
}
.search__zoom {
    background-image: url(../img/zoom.svg);
    width: 18px;
    height: 18px;
}
.header__login {
    width: 10%;
    display: flex;
    justify-content: flex-end;
}
.header__login a {
    font-size: 1rem;
}
.login__btn {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #00000000;
}
.login__btn img {
    width: 30px;
    height: 30px;
    margin-right: 10px;
    cursor: pointer;
}




/* 헤더 미디어 */
@media(max-width : 1100px) {
    #header {
        height: 70px;
        justify-content: space-between;
    }
    .header__logo {
        width: 0%;
    }
    .header__nav {
        width: 80%;
    }
    .header__search {
        display: none;
    }
    .header__nav > ul {
        height: 70px;
        align-items: center;
    }
    .header__nav > ul > li > ul {
        top : 46px;
    }
    .header__logo img {
        width: 91px;
        height: 41px;
        margin-bottom: 5px;
    }
}
@media(min-width : 800px) {
    #sidenav {
        display: none;
    }
    .slideBtn {
        display: none;
    }
}
@media(max-width : 800px) {
    #header {
        padding: 0 3%;
    }
    .header__logo img {
        display: none;
    }
    .header__nav > ul {
        display: none; /* 화면 너비가 800px 이하일 때 네비게이션 메뉴 숨김 */
    }
    .sidenav {
        /* height: 100%; */
        width: 0;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
        background-color: rgba(0, 0, 0, 0.9);
        overflow-x: hidden;
        transition: 0.5s;
        padding-top: 10px;
        }
    .sidenav a {
        padding: 5px;
        text-decoration: none;
        font-size: 1.2rem;
        color: #fff;
        display: block;
        transition: 0.3s;
    }
    .slideBtn {
        transition: 0.8s;
        position: fixed;
        font-size:30px;
        cursor:pointer;
        margin-right:5%;
        left: 0;
        top: 0;
        margin: 10px 0 0 10px;
    }
    .close {
        position: absolute;
        line-height: 1rem;
        padding: 10px;
        right: 0;
        cursor: pointer;
        font-size: 2rem;
        color:#fff;
    }
    .menu{
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        justify-content: center;
        margin-bottom: 20px;
        margin-top: 40px;
    }
    .menu a {
        padding: 10px 20px;
    }
    .menu a:hover {
        background-color: #1f1f1f;
        border-radius: 5px;
        transform: scale(1.2);
    }
    .menu p{
        color:#bbb;
        font-size: 1rem;
        text-align: center;
    }
    .menu p:hover{
        color: #eaffaf
    }
    .header__login {
        width: 40%;
    }
    
}


/* ________________footer__inner_____________________ */
#footer {
    border-top: 1px solid #999999;
    height: 200px;
}
.footerwrap {}
.footerwrap ul {
    margin-top: 50px;
    display: flex;
    justify-content: space-evenly;
    padding: 0 1rem;
}
.footerwrap ul li p {
    font-size: 0.8rem;
    color: #A39B9B;
}
.footer__sns {
    display: flex;
    flex-direction: column;
}
.footer__sns h1 {
    text-align: center;
}
.footer__sns div {
    width: 100%;
    display: flex;
    justify-content: center;
}
.footer__sns img {
    width: 24px;
    height: 24px;
}
@media (max-width:1100px){
    .footerwrap ul li:first-child{
        display: none;
    }
    .footer__sns {
        display: flex;
        flex-direction: column;
    }
    .footerwrap ul {
        position: relative;
        padding: 1rem;
        margin: 1rem;
    }
    .footerwrap ul li:last-child{
        position: absolute;
        bottom: 0;
        transform: translateY(180%);
    }

}
@media (max-width:660px){
    .footer__sns h1 {
        display: none;
    }
    
}
@media (max-width:420px){
    .footerwrap ul {
        flex-direction: column;
        padding: 10px 0px 5px 0px;
        margin-left: 10px;
    }

}


