<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>부여 가을연꽃축제</title>
    <link rel="stylesheet" href="css/style.css">

    <script src="script/jquery.min.js"></script>
    <script src="script/script.js"></script>
</head>
<body>
    <div id="wrap">
        <header>
            <aside>
                <div class="aside__logo">
                    <h1>부여가을연꽃축제</h1>
                </div>
                <nav class="aside__nav">
                    <ul>
                        <li>
                            <a href="#">축제소개</a>
                            <ul class="submenu">
                                <li><a href="#">초대의 글</a></li>
                                <li><a href="#">축제개요</a></li>
                                <li><a href="#">축제연혁</a></li>
                                <li><a href="#">오시는길</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="#">행사안내</a>
                            <ul class="submenu">
                                <li><a href="#">셔틀버스안내</a></li>
                                <li><a href="#">행사안내</a></li>
                                <li><a href="#">행사일정</a></li>
                                <li><a href="#">소공연장</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="#">홍보마당</a>
                            <ul class="submenu">
                                <li><a href="#">축제소식</a></li>
                                <li><a href="#">보도자료</a></li>
                                <li><a href="#">음식레시피</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="#">참여마당</a>
                            <ul class="submenu">
                                <li><a href="#">참가후기</a></li>
                                <li><a href="#">연꽃갤러리</a></li>
                                <li><a href="#">포토갤러리</a></li>
                            </ul>
                        </li>
                    </ul>
                </nav>
            </aside>
        </header>

        <main id="main">
            <div id="slider">
                <div class="slider__wrap">
                    <div class="slider s1">
                        <img src="images/slider01.jpg" alt="">
                        <h2>연꽃이 피어나는 가을<br><em>부여 가을연꽃축제로 놀러오세요</em></h2>
                    </div>
                </div>
            </div>
            <div class="contents">
                <div class="notice">
                    <h3>공지사항</h3>
                    <ul>
                        <li><a href="#">연꽃축제 행사기간<span>23.10.1</span></a></li>
                        <li><a href="#">주차장 안내<span>23.10.1</span></a></li>
                        <li><a href="#">10월 이밴트 당첨자<span>23.10.1</span></a></li>
                        <li><a href="#">연꽃축제 주의사항<span>23.10.1</span></a></li>
                    </ul>
                </div>
                <div class="gallery">
                    <h3>갤러리</h3>
                    <div class="gallery__img">
                        <img src="images/gallery01.jpg" alt="">
                        <img src="images/gallery02.jpg" alt="">
                        <img src="images/gallery03.jpg" alt="">
                    </div>
                </div>
                <div class="links">
                    <a href="#">부여시청</a>
                    <a href="#">부여관광홈페이지</a>
                    <a href="#">충청도청</a>
                </div>
            </div>
        </mian>

        <footer id="footer">
            <div class="footer1">
                15073 전라북도 군산시 군산로 237 (정왕동) 철길 마을 COPYRIGHT(C) ALL RIGHTS RESERVED.
            </div>
            <div class="footer2">
                <div class="footer2-1">
                    <a href="#">인스타</a>
                    <a href="#">페이스북</a>
                </div>
                <div class="footer2-2">
                    <select name="#" id="#">
                        <option value="">부여시청</option>
                        <option value="">충청도</option>
                        <option value="">관광청</option>
                    </select>
                </div>
            </div>

            <div class="popup__view">

            </div>
        </footer>
    </div>
</body>
</html>