<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>조이컨트리클럽</title>
    <link rel="stylesheet" href="css/style.css">

    <script src="script/jquery.min.js"></script>
    <script src="script/script.js"></script>
</head>
<body>
    <div id="wrap">
        <aside id="aside">
            <div class="logo">
                <h1>조이컨트리클럽</h1>
            </div>
            <nav class="nav">
                <ul>
                    <li>
                        <a href="#">CLUB</a>
                        <ul class="submenu">
                            <li>
                                <a href="#">클럽소개</a>
                                <a href="#">시설안내</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="#">BOOKING</a>
                        <ul class="submenu">
                            <li>
                                <a href="#">요금안내</a>
                                <a href="#">예약안내</a>
                                <a href="#">위약안내</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="#">INFORMATION</a>
                        <ul class="submenu">
                            <li>
                                <a href="#">명예의 전당</a>
                                <a href="#">이벤트</a>
                                <a href="#">자료실</a>
                                <a href="#">포토갤러리</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="#">COMMUNITY</a>
                        <ul class="submenu">
                            <li>
                                <a href="#">공지사항</a>
                                <a href="#">Q&A</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </nav>
        </aside>

        <main id="main">
            <section id="slider">
                <div class="slider__wrap">
                    <div class="slider s1">
                        <img src="img/slider01.jpg" alt="골프장이미지1">
                        <h2>조이컨트리클럽에 오신걸 환영합니다.</h2>
                    </div>
                    <div class="slider s2">
                        <img src="img/slider02.jpg" alt="골프장이미지1">
                        <h2>조이컨트리클럽에 오신걸 환영합니다.</h2>
                    </div>
                    <div class="slider s3">
                        <img src="img/slider03.jpg" alt="골프장이미지1">
                        <h2>조이컨트리클럽에 오신걸 환영합니다.</h2>
                    </div>
                </div>
            </section>

            <section id="contents">
                <div class="banner">
                    <img src="img/banner.jpg" alt="배너이미지1">
                </div>
                <div class="content">
                    <span class="content__title">
                        <a class="con__notice" href="#">공지사항</a>
                        <a class="con__gallery" href="#">갤러리</a>
                    </span>
                    <div class="notice">
                        <ul>
                            <li><a class="popup__view" href="#">조이컨트리클럽 시설 이용안내 조이컨트리클럽 시설 이용안내 <em>2023.11.10</em></a></li>
                            <li><a href="#">조이컨트리클럽 연간 회원권 특가 할인 조이컨트리클럽 시설 이용안내 <em>2023.11.11</em></a></li>
                            <li><a href="#">조이컨트리클럽 주차장 시설 공사 안내 조이컨트리클럽 시설 이용안내 <em>2023.11.12</em></a></li>
                            <li><a href="#">조이컨트리클럽 휴무일정 및 연휴 운영 안내 조이컨트리클럽 시설 이용안내 <em>2023.11.13</em></a></li>
                        </ul>
                    </div>
                    <div class="gallery">
                        <img src="img/gallery01.jpg" alt="갤러리이미지1">
                        <img src="img/gallery02.jpg" alt="갤러리이미지2">
                        <img src="img/gallery03.jpg" alt="갤러리이미지3">
                    </div>
                </div>
            </section>
            <div class="link">
                <ul>
                    <li><a href="#">youtube</a></li>
                    <li><a href="#">facebook</a></li>
                    <li><a href="#">instar</a></li>
                </ul>
            </div>
        </main>
        <footer id="footer">
            <div class="footer1">
                <div class="logo">J.C.C</div>
            </div>
            <div class="footer2">
                주소 서울시 강남구 삼성로 100 삼성동빌딩 100층<br>
                COPYRIGHT(C) ALL RIGHTS RESERVED.
            </div>
            <div class="footer3">
                <div class="sns">인스타</div>
                <div class="sns">페이스북</div>
                <div class="sns">유튜브</div>
            </div>
        </footer>
        <div class="popup__box">
            <h3>공지사항</h3>
            <p>조이컨트리클럽 연휴 휴무 안내 드립니다. 조이컨트리클럽 연휴 휴무 안내 드립니다. 조이컨트리클럽 연휴 휴무 안내 드립니다.</p>
            <a class="popup__close" href="#">닫기</a>
        </div>
    </div>
</body>
</html>